body{
  overflow-x: hidden;
}
/**清除浮动**/
.clearfix:after {
  height: 0;
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
/**版心**/
.container {
  width: 1200px;
  margin: 0 auto;
}
/**右浮动**/
.fr {
  float: right;
}
/**左浮动**/
.fl {
  float: left;
}
/**列表去黑点**/
ul,ol,dl{
  list-style-type: none;
  padding: 0;
}
/**a链接去掉下划线，字体颜色**/
a {
  text-decoration: none;
  color: #666666;
}
.start i{
  font-size:16px;
  color: #fcee00;
}
/**右边的通用样式！！***/
.title {
  height: 64px;
  font-size: 24px;
  line-height: 64px;
  background: url(../images/nav_bg02.png) no-repeat 0px 0px;
}
/***灰色字体****/
.grey {
  color: #bbc5ba;
}
/**蓝色字体**/
.blue {
  color: #00a7ea !important;
}
/**蓝色字体**/
.red {
  color: red;
}
.c{
  color: #ccc;
}
.gold{
  color: #f4b211;
}
/**蓝色字体**/
.small {
  font-size: 12px;
}
/* 显示样式 */
.visible{
  display: block;
  background: pink;
  z-index: 99;
}
a:hover{
  color: #ff6600;
}
/* 滑动鼠标，改变背景和字体颜色 */
.orange {
  background: #ff6600;
  color: #ffffff;
}
.colorOrange{
color: #ff6600;
}
.greyColor{
  color:#c0c0c0;
}
.greyBg{
  background: #f2f2f2;
}
/* 字体样式 */
.fontw{
  font-weight: bold;
}
.font18{
  font-size: 18px;
}
.font21{
  font-size: 21px;
}
.font28{
  font-size: 28px;
}
.icon-pingjia:before{
  font-size: 21px;
  color: #666;
}
/* 这里用input会导致 checkbox的大小变化 */
input[type='text']{   
  padding: 10px;
}
button{
  background: transparent;
}
.fontw{
  font-weight: bold;
}
/* 头部和导航，轮播的通用样式 */
/* 首页的样式 */
/* 顶部样式 */
#top {
  line-height: 28px;
  background: #000000;
  color: #ffffff;
}
#top > div {
  text-align: right;
}
#top a {
  color: #ff6600;
}
/* 导航栏 左边*/
#nav {
  height: 84px;
  min-width: 1200px;
}
#nav #logo {
  position: relative;
  height: 112px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  margin: -28px 0 0 0;
  /* overflow: hidden; */
  background: url(../images/logo.jpg) no-repeat #ff6600 center 5px;
}
#nav #logo > p {
  margin: 82px 0 4px 0;
}
#nav #logo .icon-jiankuohaoxia {
  margin: 2px 0 0 15px;
}
/* 导航商品展示 */
#logo ul {
  position: relative;
  background: #f3f3f3;
  height: 416px;
  top:6px;
}
#logo ul>li {
  height: 32px;
  text-align: left;
}
#logo ul>li .menu {
  padding: 0 0 0 20px;
  line-height: 32px;
  width: 178px;
  background: #f3f3f3;
  position: absolute;
  z-index: 30;
  border-right: 1px solid transparent;
}
#logo ul>li:hover .menu{
  background: #ffffff;
  width: 179px;
  height: 30px;
  border:1px solid #ff6600;
  border-right: none;
}
/* 二级导航栏的设置 */
#logo ul li .subMenu {
  position: absolute;
  left: 199px;
  color: #000000;
  padding: 0 36px;
  top: 0;
  background: pink;
  border: 1px solid #ff6600;
  width: 400px;
  height: 490px;
  display: none;
  background: #ffffff;
  z-index: 29;
}
#logo ul li .subMenu p {
  line-height: 36px;
}
#logo ol {
  margin: 16px 0 0 0;
}
#logo ol li {
  height: 54px;
}
#logo ol li h3 {
  color: #ff6600;
  border-bottom: 2px solid #ccc;
  line-height: 30px;
}
#logo ol li a {
  line-height: 30px;
  color: #000000;
  margin: 0 10px 0 0;
}
/* 导航栏右边 */
/* 导航栏input,购物车，我的订单 */
#navRight{
  height: 80px;
}
#navRight > div {
  padding: 4px 0 0 0;
  position: relative;
}
#navRight input {
  width: 440px;
  height: 34px;
  margin: 0 0 0 316px;
  border: 1px solid #ff6600;
  padding: 0 10px;
  outline: none;
}
#navRight .icon-sousuo {
  line-height: 34px;
  width: 50px;
  background: #ff6600;
  position: absolute;
  right: 237px;
  top: 4px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  font-size: 24px;
}
#navRight .buyAndOrder {
  height: 34px;
  width: 200px;
  margin: 0 0 0 36px;
}
#navRight .buyAndOrder div {
  line-height: 34px;
  width: 50%;
  text-align: center;
}
#navRight .buyAndOrder div:first-child {
  background: #ff6600;
  color: #ffffff;
  margin: -1px 0 0 0;
}
.icon-cart:before {
  font-size: 21px;
  line-height: 34px;
  display: block;
  float: left;
  margin: 0 0 0 4px;
}
#navRight .buyAndOrder div:first-child a {
  color: #ffffff;
}
#navRight .buyAndOrder div:last-child {
  background: #ebebeb;
  color: #666;
}
#navRight ul {
  margin: 20px 0 0 5px;
  font-weight: bolder;
}
#navRight ul li {
  float: left;
  margin: 0 0 0 30px;
}
/* 侧框 */
#ce {
  height: 180px;
  width: 40px;
  text-align: center;
  background: orangered;
  position: fixed;
  right: 0;
  top:50%;
  margin:-100px 0 0 0;
  z-index:9;
}
#ce a{
  text-decoration: none;
}
#ce .tag {
  height: 40px;
  width: 40px;
  background: url(../images/two.jpg);
}
#ce .slide{
  padding: 0 4px;
  height: 100px;
  font-size: 18px;
  color: #ffffff;
  position: relative;
}
#ce .slide p{
  height: 100px;
  width: 100px;
  background: pink;
  display: none;
  /* visibility: hidden; */
  position: absolute;
  top: 0;
  right:40px;
}
#ce .slide:hover p{
  display: block;
  /* transition: all 5s; */
  transition:2s ease-out; 
}
#ce .shoppingCar{
  height: 40px;
  width: 40px;
  background: #666666;
  color: #ffffff;
  position: relative;
}
#ce .shoppingCar sup{
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  width: 18px;
  background: red;
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 4;
}
#ce .shoppingCar .icon-cart:before{
  font-size: 26px;
  position: absolute;
  top: 10px;
  left: 7px;
}
/* 轮播 */
#swiper {
  height: 430px;
  margin: 0 0 10px 276px;
}
.swiperlitlefu{
  width: 426px;
  height: 342px;
  color: #ffffff;
  position: relative;
}
.swiper-container {
width: 100%;
height: 100%;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-button-next,.swiper-button-prev{
background: #666666;
opacity: 0.5;
color: #ffffff;
}
/* 图书右边的top榜 */
.hotBook {
  width: 242px;
  height: 440px;
  border: 1px solid #ccc;
  position: absolute;
  right: -290px;
  top: 40px;
  /* background: pink; */
  border: 2px solid #ccc;
  padding: 0 0 0 24px;
}
.hotBook li:first-child {
  height: 190px;
  border: none;
}
.hotBook li:first-child h2 {
  margin: -40px 0 0 50px;
}
.hotBook li:first-child {
  margin: 0 0 0 5px;
}
.hotBook li:first-child div p {
  margin: 0 5px;
  width: 120px;
  line-height: 18px;
  text-indent: 1rem;
}
.hotBook li {
  line-height: 40px;
}
.hotBook li span {
  margin: 0 16px 0 -16px;
}

.hotBook li {
  width: 100%;
  display: inline-block;
  border-top: 2px solid #ccc;
}
/* 广告 */
.ad {
  margin:20px 0 0 76px;
}
.ad img{
  height: 100px;
  width: 1200px;
}
/* 置顶 */
#toTop{
  position: fixed;
  bottom: 0;
  right: 20px;
}
/* 盒子边框和小红勾 */
p.chekedRight{
  border: 1px solid #ff6600;
  position: relative;
}
.icon-zhengfangxinggouxuankuang:before {
  position: absolute;
  bottom: 0;
  right: -3px;
  color: #ff6600;
}
/* 底部 */
#footer {
  position: relative;
  height: 420px;
  border-top: 2px solid #ff6600;
  text-align: center;
}
#footer div {
  height: 70px;
  background: #f2f2f2;
  padding: 30px 0 0 0;
}
#footer div img {
  margin: 0 40px;
}
#footer table {
  height: 140px;
  margin: 30px auto;
}
#footer table td {
  width: 150px;
  line-height: 30px;
}
#footer>img{
  position: absolute;
  right: 124px;
  top: 35%;
}
#footer p {
  line-height: 40px;
}
#footer p span{
  padding: 0 20px;
  border-right:1px solid #666;
}
#footer p span:last-child{
  border:none;
}
/* 蒙层 */
/* 蒙版 */
.prompt{
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -235px;
  display: none;
  height: 280px;
  width: 470px;
  box-shadow:0 0 5px #000000;
  color: #666666;
  z-index: 99;
  background: #ffffff;
}
.prompt>p{
  width: 450px;
  padding: 0 10px;
  line-height: 40px;
  background: #e6e6e6;
}
.prompt h2{
  line-height: 80px;
  text-align: center;
  padding: 30px 85px;
}
.prompt>div{
  line-height: 60px;
  padding: 40px 0;
  text-align: center;
  padding: 0 40px;
}
.prompt>div button{
  height: 40px;
  width: 120px;
  background: #e6e6e6;
  margin:0 20px;
  border: none;
  outline: none;
}
.prompt>div button:last-child{
  background: #ff6600;
  color: #ffffff;
}
.X{
  cursor: pointer;
}
.font28{
  font-size: 28px;
}
.mask {
  display: none; 
  z-index: 90; /*位于弹出层div和页面内容div之间*/
  /*蒙版应覆盖整个可视页面*/    
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000; /*给蒙版加点颜色*/ 
  opacity: 0.5; /*透明度，值为1时会变成黑疙瘩...*/
}
.icon-gantanhao:before{
  color: red;
  display: block;
  float: left;
  font-size: 72px;
}
