body{
  overflow-x: hidden;   
}
/**清除浮动**/
.clearfix:after {
  height: 0;
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
/**版心**/
.container {
  width: 1200px;
  margin: 0 auto;
}
/**右浮动**/
.fr {
  float: right;
}
/**左浮动**/
.fl {
  float: left;
}
/**列表去黑点**/
ul,ol,dl{
  list-style-type: none;
  padding: 0;
}
/**a链接去掉下划线，字体颜色**/
a {
  text-decoration: none;
  color: #666666;
}
/**右边的通用样式！！***/
.title {
  height: 64px;
  font-size: 24px;
  line-height: 64px;
  background: url(../images/nav_bg02.png) no-repeat 0px 0px;
}
/***灰色字体****/
.grey {
  color: #bbc5ba;
}
/**蓝色字体**/
.blue {
  color: #00a7ea !important;
}
/**蓝色字体**/
.red {
  color: red;
}
/**蓝色字体**/
.small {
  font-size: 12px;
}
/* 显示样式 */
.visible{
  display: block;
  background: pink;
  z-index: 99;
}
a:hover{
  color: #ff6600;
}

/* 滑动鼠标，改变背景和字体颜色 */
.orange {
  background: #ff6600;
  color: #ffffff;
}
.greyColor{
  color:#c0c0c0;
}
.greyBg{
  background: #f2f2f2;
}
/* 字体样式 */
.big18{
  font-size: 18px;
  font-weight: bold;
}
.font21{
  font-size: 21px;
}
/* 头部和导航，轮播的通用样式 */
/* 首页的样式 */
/* 顶部样式 */
#top {
  line-height: 28px;
  background: #000000;
  color: #ffffff;
}
#top > div {
  text-align: right;
}
#top a {
  color: #ff6600;
}
/* 导航栏 左边*/
#nav {
  height: 84px;
  min-width: 1200px;
}
#nav #logo {
  position: relative;
  height: 112px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  margin: -28px 0 0 0;
  /* overflow: hidden; */
  background: url(../images/logo.jpg) no-repeat #ff6600 center 5px;
}
#nav #logo > p {
  margin: 82px 0 4px 0;
}
#nav #logo .icon-jiankuohaoxia {
  margin: 2px 0 0 15px;
}
/* 导航商品展示 */
#logo ul {
  position: relative;
  background: #f3f3f3;
  height: 416px;
  padding: 7px 0;
  top:6px;
}
#logo ul li {
  height: 32px;
  /* width: 180px; */
  text-align: left;
  padding: 0 0 0 20px;
}
#logo ul li .menu {
  line-height: 36px;
  width: 180px;
  background: #f3f3f3;
  position: absolute;
  z-index: 99;
  border-right: 1px solid transparent;
}
#logo ul li:hover .menu {
  background: #ccc;
  border-right: none;
}
/* 二级导航栏的设置 */
#logo ul li .subMenu {
  position: absolute;
  left: 199px;
  color: #000000;
  padding: 0 36px;
  top: 0;
  border: 1px solid orange;
  width: 400px;
  height: 490px;
  display: none;
  background: #ffffff;
}
#logo ul li .subMenu p {
  line-height: 36px;
}
#logo ol {
  margin: 16px 0 0 0;
}
#logo ol li {
  height: 54px;
}
#logo ol li h3 {
  color: #ff6600;
  border-bottom: 2px solid #ccc;
  line-height: 30px;
}
#logo ol li a {
  line-height: 30px;
  color: #000000;
  margin: 0 10px 0 0;
}
/* 导航栏右边 */
/* 导航栏input,购物车，我的订单 */
#navRight{
  height: 80px;
}
#navRight > div {
  padding: 4px 0 0 0;
  position: relative;
}
#navRight input {
  width: 440px;
  height: 34px;
  margin: 0 0 0 316px;
  border: 1px solid #ff6600;
  padding: 0 10px;
  outline: none;
}
#navRight .icon-sousuo {
  line-height: 34px;
  width: 50px;
  background: #ff6600;
  position: absolute;
  right: 237px;
  top: 4px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  font-size: 24px;
}
#navRight .buyAndOrder {
  height: 34px;
  width: 200px;
  margin: 0 0 0 36px;
}
#navRight .buyAndOrder div {
  line-height: 34px;
  width: 50%;
  text-align: center;
}
#navRight .buyAndOrder div:first-child {
  background: #ff6600;
  color: #ffffff;
}
#navRight .buyAndOrder div:first-child a {
  color: #ffffff;
}
#navRight .buyAndOrder div:last-child {
  background: #ebebeb;
  color: #666;
}
#navRight ul {
  margin: 20px 0 0 5px;
  font-weight: bolder;
}
#navRight ul li {
  float: left;
  margin: 0 0 0 30px;
}
/* 侧框 */
#ce {
  height: 180px;
  width: 40px;
  text-align: center;
  background: orangered;
  margin:0 0 0 300px;
  position: fixed;
  right: 0;
  top:50%;
  margin:-100px 0 0 0;
  z-index:9;
}
#ce a{
  text-decoration: none;
}
#ce .tag {
  height: 40px;
  width: 40px;
  background: #ffdb0d;
}
#ce .slide{
  padding: 0 4px;
  height: 100px;
  font-size: 20px;
  color: #ffffff;
  position: relative;
}
#ce .slide p{
  height: 100px;
  width: 100px;
  background: pink;
  display: none;
  /* visibility: hidden; */
  position: absolute;
  top: 0;
  right:40px;
}
#ce .slide:hover p{
  display: block;
  /* transition: all 5s; */
  transition:2s ease-out; 
}
/* 轮播 */
#swiper {
  height: 430px;
  margin: 0 0 10px 276px;
}
/* 图书右边的top榜 */
.hotBook {
  width: 242px;
  height: 440px;
  border: 1px solid #ccc;
  position: absolute;
  right: -290px;
  top: 40px;
  /* background: pink; */
  border: 2px solid #ccc;
  padding: 0 0 0 24px;
}
.hotBook li:first-child {
  height: 190px;
  border: none;
}
.hotBook li:first-child h2 {
  margin: -40px 0 0 0;
}
.hotBook li:first-child {
  margin: 0 0 0 5px;
}
.hotBook li:first-child div p {
  margin: 0 5px;
  width: 120px;
  line-height: 18px;
  text-indent: 1rem;
}
.hotBook li {
  line-height: 40px;
}
.hotBook li span {
  margin: 0 16px 0 -16px;
}

.hotBook li {
  width: 100%;
  display: inline-block;
  border-top: 2px solid #ccc;
}
/* 底部 */
#footer {
  height: 420px;
  border-top: 2px solid #ff6600;
  text-align: center;
}
#footer div {
  height: 70px;
  background: #f2f2f2;
  padding: 30px 0 0 0;
}
#footer div img {
  margin: 0 40px;
}
#footer table {
  height: 140px;
  margin: 30px auto;
}
#footer table td {
  width: 150px;
  line-height: 30px;
}
#footer p {
  line-height: 40px;
}

