/**清除浮动**/
.clearfix:after {
  height: 0;
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
/**版心**/
.container {
  width: 1200px;
  margin: 0 auto;
}
/**右浮动**/
.fr {
  float: right;
}
/**左浮动**/
.fl {
  float: left;
}
/**列表去黑点**/
ul,ol,dl{
  list-style-type: none;
  padding: 0;
}
/**a链接去掉下划线，字体颜色**/
a {
  text-decoration: none;
  color: #666666;
}
/**右边的通用样式！！***/
.title {
  height: 64px;
  font-size: 24px;
  line-height: 64px;
  background: url(../images/nav_bg02.png) no-repeat 0px 0px;
}
/***灰色字体****/
.grey {
  color: #bbc5ba;
}
/**蓝色字体**/
.blue {
  color: #00a7ea !important;
}
/**蓝色字体**/
.red {
  color: red;
}
/**蓝色字体**/
.small {
  font-size: 12px;
}
/* 显示样式 */
.visible{
  display: block;
  background: pink;
  z-index: 99;
}
a:hover{
  color: #ff6600;
}
/* 滑动鼠标，改变背景和字体颜色 */
.orange {
  background: #ff6600;
  color: #ffffff;
}
