/* 今日推荐 */
#recommend {
  height: 400px;
}
#recommend > h2 {
  color: #ff6600;
  line-height: 40px;
  text-indent: 1em;
  border-bottom: 4px solid #ff6600;
}
#recommend ul li {
  height: 240px;
  width: 184px;
  float: left;
  padding: 3px 7px;
  border: 1px solid #ff6600;
  position: relative;
  z-index: 1;
}
#recommend ul li img:first-child {
  margin: 0 0 24px 12px;
}
#recommend ul li .tag {
  position: absolute;
  left: 0;
  top: 147px;
}
#recommend ul li .price {
  font-size: 18px;
  line-height: 30px;
}
/* 楼层滚动盒子通用样式 */
.floorScroll {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 40px 0 0 76px;
}
.floorScroll > h2 {
  color: #000000;
  line-height: 40px;
  text-indent: 1em;
  border-bottom: 2px solid #ff6600;
}
.floorScroll > ul {
  position: absolute;
  right: 0;
  top: 6px;
}
.floorScroll > ul li {
  line-height: 34px;
  width: 96px;
  float: left;
  text-align: center;
}
.floorScroll > ul li:hover {
  background: #ff6600;
  color: #ffffff;
}
#floorLi{
  height: 200px;
  width: 40px;
  background: #f2f2f2;
  position: fixed;
  top: 130px;
  left: 37px;
  display: none;
}
#floorLi li{
  height: 40px;
  width: 40px;
  position: relative;
  box-sizing: border-box;
}
#floorLi li:first-child{
  background: url(../images/floor.png) no-repeat 0px -40px;
}
#floorLi li:nth-child(2){
  background: url(../images/floor.png) no-repeat 0px -80px;
}
#floorLi li:nth-child(3){
  background: url(../images/floor.png) no-repeat 0px -120px;
}
#floorLi li:nth-child(4){
  background: url(../images/floor.png) no-repeat 0px -160px;
}
#floorLi li:nth-child(5){
  background: url(../images/floor.png) no-repeat 0px -200px;
}
#floorLi li p{
  line-height: 40px;
  width:40px;
  position: absolute;
  top:0;
  background: #93d56f;
  right:-40px;
  text-align: center;
  color: #ffffff;
  display: none;
}
/* 图书，电子书 */
#book {
  width: 900px;
  height: 500px;
  margin: 40px 0 0 76px;
}
#book > h2 {
  margin: 174px 0 0 0;
}
#book .content > div {
  width: 240px;
  height: 442px;
  background: #f9f9f9;
}
#book .content ul {
  width: 100%;
  margin: 10px 0 0 0;
}
#book .content ul li {
  float: left;
  width: 80px;
  line-height: 30px;
  /* background: #ccc; */
}
/* 小轮播图 */
#book .content ol > div {
  height: 218px;
  width: 328px;
}
#book .content ol {
  height: 100%;
  width: 658px;
  /* background: pink; */
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#book .content ol li {
  height: 198px;
  width: 154px;
  border: 1px solid #ccc;
  float: left;
  padding: 10px 4px;
}
#book .content ol li img{
  margin:12px 0 12px 0;
}
#book .content ol li p {
  line-height: 22px;
}
#book del {
  color: #ccc;
}

/* 服装 */
.dressSportBaby {
  height: 100%;
}
/* 第一个盒子 */
.dressSportBaby .contentTop div:first-child {
  width: 240px;
}
.dressSportBaby .contentTop div:first-child img{
  height: 348px;
  width: 237px;
}
.dressSportBaby dl dt {
  line-height: 40px;
  float: left;
  width: 80px;
  background: #f9f9f9;
  text-align: center;
}
.dressSportBaby .dressSportBabySwiper {
  height: 426px;
}
/* 第二个盒子 */
.dressSportBaby .contentTop div:nth-child(2) {
  width: 426px;
}
.dressSportBaby .contentTop div:nth-child(2) img {
  width: 426px;
}
.dressSportBaby .contentTop div:nth-child(2) .swiper {
  border: 1px solid #ccc;
}
.dressSportBaby .contentTop div:nth-child(2) .swiper img {
  height: 340px;
}
.dressSportBaby .contentTop ol {
  width: 530px;
}
.dressSportBaby .contentTop ol li {
  float: left;
  border: 1px solid #ccc;
}
.dressSportBaby .contentTop ol li a {
  display: block;
  margin: 5px 0 0 5px;
}
.dressSportBaby .contentTop ol li img {
  width: 174px;
}
.dressSportBaby .contentTop ol .three .quan{
  border-radius: 12px;
  background: #fd2621;
  height: 20px;
  width: 105px;
  text-align: center;
  color: #ffffff;
}
.dressSportBaby .contentTop ol .three img {
  height: 262px;
}
.dressSportBaby .contentTop ol .lastThree img {
  margin: 12px 0 0 0;
  height: 102px;
  width: 174px;
}
.contentBottom img {
  width: 116px;
}
/* 童装 */
#baby  .contentTop ol li.lastThree{
  background: url(../images/girlbottom.jpg) no-repeat;
  height: 169px;
  width: 174px;
}
/* 家居日用 */
/* 第一个盒子 */
#hoseLeft {
  border: 1px solid #ccc;
}
#houseRight ul li {
  width: 176px;
  height: 336px;
  float: left;
  border: 1px solid #ccc;
}
#houseRight ol li {
  width: 176px;
  height: 160px;
  float: left;
  border: 1px solid #ccc;
}

/* 推广产品 */
#others {
  height: 660px;
}
#others ol li {
  height: 260px;
  width: 152px;
  float: left;
  padding: 20px 30px;
  margin: 0 28px 0 0;
}
#others ol li:hover{
  background: #f2f2f2;
}
#others ol img {
  height: 152px;

  text-align: center;
}
#others ol li .price {
  font-size: 22px;
}
.grown {
  background: #f2f2f2;
}
