/* 导航头部 */
body,#navRight>p a{
    color:#666666; 
}
#nav{
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 0px 4px #ccc;  
    /* 长度，高度，模糊度 */
}
#navRight{
    width:940px;
    padding: 0 20px;
    line-height: 84px;
}
#navRight>div{
    font-size: 30px;
}
#navRight>p{
    color: #cccccc;
    margin: 24px 0 0 0;
}
/* loginBox */
#login{
    height: 370px;
    padding: 60px 0;
    background:url(../images/loginBg.jpg) center no-repeat;
}
#loginBox{
    width: 350px;
    background: #ffff;
    margin:0 0 0 750px;
}
#loginBox>ol{
    height: 18px;
    padding: 14px 20px 22px 20px;
    border-bottom: 1px solid #ccc;
}
#loginBox>ol li{
    width: 154px;
    text-align: center;
}
#loginBox>ol li:first-child{
    border-right: 1px solid #ccc;
}
.subMenu{
    height:314px;
    display: none;
    border-bottom: 1px solid #ccc;
}
.show{
    display: block;
}
#loginBox .subMenu>div{
    height: 244px;
    padding: 20px 30px 0 30px;
}
#loginBox .subMenu>div div{
    height: 40px;
    width: 290px;
    line-height: 40px;
    margin:15px 0 0 0;
    text-align: center;
}
#loginBox .subMenu>div div input{
    height: 40px;
    border: none;
    outline: none;
}
#loginBox .subMenu>div  div.text{
    width: 280px;
    border: 1px solid #ccc;
}
#loginBox .icon{
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: #ccc;
}
#loginBox .subMenu>div div.text input{
    width: 220px;
    height: 20px;
    float: left;
}
#loginBox .subMenu>div div.apt{
    width: 270px;
    padding: 0 10px;
    border: none;
    margin:0 0 0 0;
}
#loginBox div.apt p{
    height: 40px;
    width: 240px;
    padding: 0 0 0 10px;
    text-align: left;
}
#loginBox .subMenu div.btn{
    text-align: center;
}
#loginBox .subMenu div.btn button{
    height: 40px;
    width: 100%;
    border: none;
}
#loginBox div.registe{
    line-height: 47px;
    padding: 0;
    text-align: center;
    border-top: 1px solid #ccc;
}
/* 底部 */
#footer{
    border: none;
    height: 150px;
    margin:30px 0 0 0;
    padding: 0 0 0 80px;
}




